html {

    height: 100%;
    width: 100%;
    background: #F4F5F9;

}

.filterOptions{

    padding-bottom: 1rem ;
    border-bottom: 1px solid lightgray;

}

.filterOptions ul li {

    list-style: none;
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
    color: #636363;

}

.mainContainer {

    display: flex;
    flex-direction: row;
    padding-top: 2rem;

}

.emailContainer {

    min-height: 125px;
    width: 500px;
    background-color: #F2F2F2;
    margin: 5px;
    border-radius: 0.375rem;
    margin-left: 40px;
    margin-bottom: 15px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid #CFD2DC;
    cursor: pointer;

}

.mainContainer .fullWidth{
  
    width: 100% !important;
    margin-right: 5rem;
   
}

.mainContainer .overflow-handling{

    max-height: 40rem;
    overflow-x: hidden;
    overflow-y: auto;

}

.emailContainer:hover {

    background-color:#F4F5F9;
    transition: 0.2s;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
   
}

.emailContainer .emailInfo {

    display: flex;

}

.emailContainer #icon {

    background-color: #E54065;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: 10px 2px 2px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 400;
    font-size: 35px;

}

.emailContainer #shortDesc {

    margin-left: 10px;
    font-size: small;
    line-height: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #636363;

}

.emailContainer .emailInfo .desc{

    line-height: 20px;

}

.emailInfo .icon-wrapper {

    display: inline-block;

}

.emailBody{

    width: 1000px;
    height: 720px;
    background-color: #F2F2F2;
    border: 1px solid #CFD2DC;
    border-radius: 10px;
    margin: 10px;
       
}

.leftContent{

    display: flex;
    color: #636363;
    margin-top: 40px;
    margin-left: 20px;
    display: flex;

}

.leftContent #icon {

    background-color: #E54065;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 10px 2px 2px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 400;
    font-size: 35px;

}

.leftContent #subject{
  
  margin-left: 20px;
        
}

.leftContent .mar-wrapper .mark-as-favourite{

    background: #E54065;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    border-radius:0.375rem;
    padding: 3px;
    font-weight: 600;
    margin-top: 25px;
    cursor: pointer;
    margin-left: 600px;
                    
}

.leftContent .mark-wrapper{

    display: inline-block;
    
}

.emailBody .rightContent {

    padding:0px 20px 0px 20px;
    margin-left: 95px;

}

.emailBody .rightContent {
   
    font-size: small;
    color: #636363;
    text-align: left;
    font-size: 14px;

}

